@model MarketDayAlertApp.Models.DTOs.MarketDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address);
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency);
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Frequency);
            @*  @foreach (var item in model.items)
            {
                @Html.DisplayFor(item => item.Name);
            })
            *@
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Frequency)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextMarket)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextMarket)

        </dd>
        <dt class="col-sm-2">
            Last Market Day
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)

        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
